---
import type {MarkdownHeading} from "astro";

type Props = {
    headings: MarkdownHeading[];
}

const {headings}: Props = Astro.props;
---

<nav class="max-lg:hidden">
    <ul>
        {
            headings.map(heading => {
                return (
                        <li class="text-xl mb-4 text-zinc-400">
                            <a href=`#${heading.slug}`>{heading.text}</a>
                        </li>
                )
            })
        }
    </ul>
</nav>
